.ipynb_checkpoints
*.pyc
output/
data
cache/
logs/
tb_logs/
resnet101.pth
tb_logs_backup/
npy_files/
glove_emb/
*.pkl
output/*
pyutils/mask-faster-rcnn/*
pyutils/refer/*
pyutils/refer-parser2/*
tb_logs/*
tools_qxy/refer-python3/*
SimHei.ttf
